
@{
    ViewBag.Title = "AllNews";
}

<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>AKTUALNOŚCI</strong>
                </p> <br />
                <p class="reset-font-small">PRZECZYTAJ O NASZYCH SPOTKANIACH, KONFERENCJACH I SUKCESACH</p>
            </div>
        </div>
        <div class="row">
            <ul class="filter">
                <li class="col-xs-6 col-md-3 filter-button gray text-center" data-value="all"><a href="#">WSZYSTKIE</a></li>
                <li class="col-xs-6 col-md-3 filter-button blue text-center"><a href="#">WYKŁADY</a></li>
                <li class="col-xs-6 col-md-3 filter-button violet text-center" data-value="main"><a href="#">KONFERENCJE</a></li>
                <li class="col-xs-6 col-md-3 filter-button green text-center" data-value="desert"><a href="#">SUKCESY</a></li>
            </ul>
        </div>
        <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small ">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon violet">
                    <i class="fa fa-group"></i>
                </div>
                <div class="service-content">
                    <div class="title-border violet"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_violet"></i>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon green">
                    <i class="fa fa-commenting"></i>
                </div>
                <div class="service-content">
                    <div class="title-border green"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_green"></i>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>
                </div>
            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small ">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>
                </div>
            </div>
            <!-- End Service Icon 5 -->
            <!-- Start Service Icon 6 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon violet">
                    <i class="fa fa-group"></i>
                </div>
                <div class="service-content">
                    <div class="title-border violet"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_violet"></i>
                </div>
            </div>
            <!-- End Service Icon 6 -->
            <!-- Start Service Icon 7 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon green">
                    <i class="fa fa-commenting"></i>
                </div>
                <div class="service-content">
                    <div class="title-border green"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_green"></i>
                </div>
            </div>
            <!-- End Service Icon 7 -->
            <!-- Start Service Icon 8 -->
            <div class="col-md-3 col-sm-6 service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                <div class="news-icon blue">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="service-content">
                    <div class="title-border blue"></div>
                    <h4 class="reset-font-small">
                        <strong>
                            Nie powtarzaj się !
                            Czyli o AOP słów kilka.
                        </strong>
                    </h4>
                    <p>
                        W trakcie tej prezentacji dowiesz się
                        czym właściwie jest AOP i do czego może się
                        przydać w praktyce.
                    </p>
                    <i class="fa fa-ellipsis-h icon_color_blue"></i>
                </div>
            </div>
            <!-- End Service Icon 8 -->
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
</div>

