
@{
    ViewBag.Title = "AllNews";
}

<div class="section service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="reset-font-large">
                    <strong>AKTUALNOŚCI</strong>
                </p> <br />
                <p class="reset-font-small">PRZECZYTAJ O NASZYCH SPOTKANIACH, KONFERENCJACH I SUKCESACH</p>
            </div>
        </div>
        <div class="row">
            <ul class="text-center" id="filter-list">
                <li class="filter-button gray" data-filter="2016">2016</li>
                <li class="filter-button gray" data-filter="2015">2015</li>
                <li class="filter-button gray" data-filter="2014">2014</li>
            </ul>
        </div>
        <div class="row">
            <ul class="filter text-center">
                <li class="filter-button gray" data-filter="all">WSZYSTKIE</li>
                <li class="filter-button blue" data-filter="lecture">WYKŁADY</li>
                <li class="filter-button violet" data-filter="conference">KONFERENCJE</li>
                <li class="filter-button green" data-filter="success">SUKCESY</li>
            </ul>
        </div>
        <div class="row">
            <ul id="news">
                <li class="item lecture col-md-3 col-sm-6">
                    <div class=" service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon blue">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border blue"></div>
                            <h4 class="reset-font-small ">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_blue"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item conference">
                    <div class=" service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon violet">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border violet"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_violet"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item success">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon green">
                            <i class="fa fa-commenting"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border green"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_green"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item lecture">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon blue">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border blue"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_blue"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item lecture">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon blue">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border blue"></div>
                            <h4 class="reset-font-small ">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_blue"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item conference">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon violet">
                            <i class="fa fa-group"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border violet"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_violet"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item success">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon green">
                            <i class="fa fa-commenting"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border green"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_green"></i>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 item lecture">
                    <div class="service-box service-center" data-animation="fadeIn" data-animation-delay="01">
                        <div class="news-icon blue">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="service-content">
                            <div class="title-border blue"></div>
                            <h4 class="reset-font-small">
                                <strong>
                                    Nie powtarzaj się !
                                    Czyli o AOP słów kilka.
                                </strong>
                            </h4>
                            <p>
                                W trakcie tej prezentacji dowiesz się
                                czym właściwie jest AOP i do czego może się
                                przydać w praktyce.
                            </p>
                            <i class="fa fa-ellipsis-h icon_color_blue"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
</div>

