
@{
    ViewBag.Title = "NewsDetails";
}
<link href="~/Content/css/NewsDetails.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="reset-font-medium lecture-name">
                Nie powtarzaj się! <br />
                Czyli o AOP słów kilka.
            </h4>
            <p class="reset-font-small lecture-description">
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
                W trakcie tej prezentacji dowiesz czym właściwie jest AOP
                i do czego może się przydać w praktyce.
            </p>
        </div>
        <div class="row">
            <div class="lecture-time-box ">
                <div class="col-md-2 text-center">
                    <div class="calendar-icon">
                        <i class="fa fa-calendar-o"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium">
                            <strong>
                                13.01.2016
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="calendar-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium ">
                            <strong>
                                17:00
                            </strong>
                        </h4>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="calendar-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="reset-font-medium ">
                            <strong>
                               L 120
                            </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

